.overlay {
    background-color: #d0d0d0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.5;
}

.overlay span {
    font-weight: bold;
    font-size: 30px;

}
