.app-container {
  display: flex;
  padding: 30px;
}

.sidebar {
  flex: 1;
  max-width: 250px;
  padding: 30px;
  border-right: 1px solid #ececec;
}

.content {
  flex: auto;
  max-height: calc(90vh);
  overflow: auto;
}

.table {
  width: 100%;
  max-width: 800px;
}
